<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <instorepickuppayment>
                <active>0</active>
                <model>MageSuite\InStorePickupPayment\Model\Payment\InStorePickup</model>
                <order_status>pending</order_status>
                <title>In Store Payment</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </instorepickuppayment>
        </payment>
    </default>
</config>